/** event list **/
#pageContent h2 { font-size:1.0em} 
#pageContent h3 { font-size: 0.75em; font-weight: normal; padding: 5px 5px 5px 15px; background: rgba(255, 255, 255, .1);} 
a { cursor:pointer; text-decoration:none; color: #DDD;}
#eventList { padding: 32px 0 0; background-color: rgba(8, 8, 4, 0.2); border-radius: 4px 4px 0 0; overflow: auto;}
.eventBox { margin: 0 0 12px 1.5%; background-color: rgba(238,238,238,0.1); width: 31%; min-height: 140px; float: left;}
.eventTitle { background-color: rgba(65, 75, 102, 0.8); color: #DDD; font-weight: 500;}

.eventBox blockquote { font-size:9pt; word-wrap: break-word; padding:10px;}

.channels { list-style-type:none;}

/** event index **/
#eventDescription { margin:20px; padding:20px; background-color:rgba(238,238,238,0.2);}
#featuring { margin:10px 20px; font-size:0.8em;}
#channels { list-style-type:none;}
#channels li { font-size:0.6em; margin:10px 20px 10px 50px; padding:10px; background-color:rgba(238,238,238,0.1);}
#channels li:hover { background-color:rgba(238,238,238,0.3);}

.eventBox .eventTitle { font-size: .85em; line-height: 2em; padding-left: 40px; position: relative;}
.eventBox .eventTitle a { font-size: 12px; color: #DCDCF0; font-weight: normal; display: block;}
ul.channels { padding: 0 0 10px;}

#add_occurrence { cursor:pointer;}