ul { list-style-type: none;}

#homeMain { background: rgba(8, 8, 4, .7)}
#homeGondola { margin-bottom: 10px;}
#gSlideView { width: 100%; overflow: hidden; position: relative;}
.gFrame { width: 20%; overflow: hidden; float: left; position: relative;}
.gFImg { width: 100%; float: left;}
.fText { color: #CCC; width: 100%; height: 100%; position: absolute; left: 0; top: 0;
		 text-shadow: 1px 1px 1px rgba(0,0,0,.8);}

.fTitle { color: #DDD; margin-top: -18px; text-shadow: 0 0 7px #000, -1px -1px 6px #000, 1px 1px 6px #000, 0 0 5px #000;}
.fTagline { font-size: 0.8em; font-weight: 800; text-transform: uppercase;}
.fInfos { color: #A9B0B9; letter-spacing: 0.1em; width: 30%; padding: 0 1em .5em 1.3em;
		  position: absolute; left: 0; bottom: 0; background-color: rgba(0, 0, 0, .6); border-radius: 100px 5px 0 0 / 5px 100px 0 0;}
.fDesc { font-family: arial; font-size: .66em; font-weight: 700; letter-spacing: 0em;
		 height: 0; padding: 0; background-color: rgba(0, 0, 0, .7); overflow: hidden; border-radius: 7px / 100px;}


.fDetails { font-size: .8em; font-weight: 800; color: #BBBBC0; letter-spacing: .05em;
			padding: 1em 2em 1em 1.3em; position: absolute; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.5);
			 border-radius: 110px 0 0 0 / 5px 0 0 0;}

.fDesc:before,
.fDetails:before { content: ''; width: 4px; height: 83%; background-color: #394567;
				   position: absolute; bottom: 0; left: 0; box-shadow: -1px 1px 4px #000;}

#gSlide #arrowLeft, #gSlide #arrowRight { width: 50px; height: 100%; position: absolute; top: 0; background: rgba(0,0,50,.01);}
#gSlide #arrowLeft { left: 0;}
#gSlide #arrowRight { right: 0;}
#gSlide #arrowLeft p, #gSlide #arrowRight p { text-indent: -999em; width: 36px; height: 66px; margin-top: 80px; opacity: 0;}
#gSlide #arrowLeft p { margin-left: 10px; background: url('../img/navPrev.png') no-repeat;}
#gSlide #arrowRight p { margin-right: 10px; background: url('../img/navNext.png') no-repeat;}

#gSlide #arrowLeft:hover, #gSlide #arrowRight:hover { cursor: pointer;}
#gSlide:hover #arrowLeft p, #gSlide:hover #arrowRight p { opacity: .3;}
#gSlide #arrowLeft:hover p, #gSlide #arrowRight:hover p { opacity: 1;}

#homeContent { overflow: auto;}
#homeContent section { overflow: auto;}
#homeHilits { width: 70%; margin-right: 0.3%; float: left;}
#sideContent { border-top: 1px solid #333;}

#homeHilits article { border-radius: 0 4px 0 4px / 0 20px 0 20px; box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8); overflow: hidden;}
#homeHilits article { margin: 0 0 10px 0;}
#homeHilits article.oneCol:nth-child(2n+1) { margin-right: 1%;}
.evBox { position: relative; overflow: hidden;}
/*.evBox .evContent:before { content: ''; width: 1px; height: 100%; position: absolute; left: 0; top: 0; background-color: #333; z-index: 1;} */
#homeContent:after { content: ''; width: 1px; height: 100%; position: absolute; right: 0; top: 0; background-color: rgba(20, 20, 30, 0.5);}

.evBox h4, #sideContent h4 { font-size: .78em; font-weight: 500; color: #DDD; padding: 7px 10px; border-left: 1px solid #333; border-right: 1px solid #000; position: relative;}
.evBox h4, #sideContent h4, .newsBox h5, a.newsLink { white-space: nowrap; overflow-x: hidden; text-overflow: ellipsis;}
.evBox h4:before,
#sideContent h4:before { content: ''; display: block; width: 23px; height: 18px; margin: -2px 10px 0 0; float: left;
				   background: url(../img/puceTV.png);}

.evBox .evContent { color: #CCC; border-left: 1px solid #333; border-right: 1px solid #000; position: relative; overflow: hidden;}
/* .evBox .evContent img:after { content: ''; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url('../img/bgTileGrid01.png') repeat left top; z-index: 1;} */
.evBox .evContent img { float: left;}
.evBox .evContent .shortDesc { font-size: 0.78em;}
.evBox .evContent .shortDesc p { font-weight: 500; text-shadow: 1px 1px 1px #000;}

.oneCol { width: 49.2%; float: left;}
.oneCol .evContent .shortDesc { width: 100%; height: 0; position: absolute; left: 0; bottom: 0; background-color: rgba(20, 20, 30, 0.7);}
.oneCol .evContent .shortDesc p { padding: 3px 10px 3px 20px;}
.oneCol .evContent .shortDesc p:before { content: ''; width: 6px; height: 12px; background-color: #495577;
				   						position: absolute; top: 5px; left: 5px; box-shadow: 2px 1px 2px #223;
				   						border-left: 1px solid #6677AA; border-top: 1px solid #7788BB;}

.twoCols { width: 99.5%; float: left;}
.twoCols .evContent { overflow: auto; background: url("../img/bgTileGrid01.png"), rgba(10, 10, 20, 0.2);}
.twoCols .evContent img { width: 50%;}
.twoCols .evContent .shortDesc { width: 50%; margin-left: 50%;}
.twoCols .evContent .shortDesc h5 { font-size: 1.1em; text-transform: uppercase; padding: 15px 5px 0 14px;}
.twoCols .evContent .shortDesc p { padding: 10px 15px;}
.twoCols .evContent {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.3) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.3) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.3) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#4d000000',GradientType=0 ); /* IE6-8 */
}



.newsBox { margin-bottom: 10px;}
.newsBox h5 { font-size: 0.7em; color: #DDD; font-weight: 500; padding: 3px 15px; background-color: rgba(65,75,102,.8);}
.newsLinks { padding: 5px 0;}
